* {
    box-sizing: border-box;
}
html, body, div, span, p, a, ul, li{
                 
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}
body {
    font-family:"DIN Next W1G Light";
    background: radial-gradient(#E0FFFF,#AFEEEE);
}
.gradient {
    background-color: #B0E0E6;
    padding: 15px;
    border: 1px solid #333;
    text-align: center;
}
.gotoblog{
    font-size:30px;
    margin-left: 10%;
    margin-right: 10%;
    text-align:justify;
    text-decoration: none;
}

#main{
    margin-left: 10%;
    margin-right:10%;
    padding: 0px 10px 0px 15px;
    width:80%;
    
}

#main p {
    font-size:18px;
    text-indent: 50px;
    margin-left: 5%;
    margin-right: 5%;
    text-align:justify;
    
}
#main ul, ol {
    font-size:18px;
    margin-left: 5%;
    margin-right: 5%;
    text-align:justify;
    
}
#main h1,h2,h3,h4{
    text-align:center;
    margin-left: 5%;
    margin-right: 5%;
}
#main h5{
    text-align: right;
    margin-left: 5%;
}


#bottomside{ 
    position: fixed; /* Фиксированное положение */
    left: 0; /* Левый нижний угол */
    bottom:0;
    width: 100%;
    background-color:antiquewhite;
    border-top: 1px solid #ccc;
    font-size: .8em;    
    padding: 10px 10px 10px 10px;
}
#bottomside table{
    margin-right:15%;
}
