<!DOCTYPE html>
<html>
    <head>
        <meta content="text/html; charset=utf8">
        <link href="../../css/OtmorosokArticles.css" rel="stylesheet">
        <title>Хроники отморозка</title>
    </head>
    <body>
        <p class="gradient">"Хроники отморозка"</p>

            <div id="main">
                <h1>Название раздела</h1>
                <h5>Дата публикации: 23.02.2021г.</h5>
                <h2>День 23 февраля 2021г. (вторник)</h2>
                
                <p>Содержимое</p>
                
            </div>
        
        <div id="bottomside">
            <center><p>
                Copyright © Georg.Grebenyuk.github.io, 2021 <br>
                <a href="mailto:inj9@yandex.ru">Почта для обратной связи</a>
            </p></center>
        </div>
    </body>
</html>